.header-container{
    background-color: #1C2B35;
    padding: 0 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container ul{
    list-style-type: none;
}
.header-container ul li{
    display: inline;
}
.header-container ul li.active a{
    color: #FF9900;
}
.header-container ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 36px;
    text-decoration: none;
}
.header-container ul li a:hover{
    color: #FF9900;
}